.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 24px;

  @include text(12px, 16px, $white);
  text-align: center;
  font-weight: 500;
  border: solid 1px $blue;
  border-radius: 3px;
  background-color: $blue;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background-color: $blue-hover;
    border-color: $blue-hover;
  }
  
  &:active {
    background-color: $blue-active;
    border-color: $blue-active;
  }

  &--theme-outline-green {
    color: $green;
    background-color: transparent;
    border-color: $green;

    &:hover,
    &:focus {
      background-color: $green;
      border-color: $green;
      color: $white;
    }

    &:active {
      opacity: .7;
    }
  }
}


@media screen and (min-width: $tablet-width) {
  .btn {
    font-size: 14px;
    line-height: 20px;
  }
}