.layout {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;

  &__inner {
    
  }

  &__main {}
  
  &__aside {
    display: none;
  }

  &__breadcrumbs {
    margin-bottom: 16px;
  }

  &__search {
    margin-bottom: 32px;
  }
}