@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "normalize";
@import "global.scss";
@import "vendor/owl.carousel.min";
@import "vendor/owl.theme.default";
@import "vendor/magnific-popup";

@import "blocks/breadcrumbs.scss";
@import "blocks/search-block.scss";
@import "blocks/field.scss";
@import "blocks/btn.scss";
@import "blocks/heading.scss";
@import "blocks/header.scss";
@import "blocks/backward-link.scss";
@import "blocks/company-page.scss";
@import "blocks/footer.scss";
@import "blocks/layout.scss";
@import "blocks/webpage.scss";
