$mobile-width: 480px;
$mobile-landscape-width: 575px;
$tablet-width: 768px;
$tablet-landscape-width: 992px;
$desktop-width: 1170px;
$full-width: 1920px;

//Цвета макета

$white: #ffffff;
$base-color: #424242;

$dark: #212121;

$blue: #005fae;
$blue-hover: #146cb4;
$blue-active: #5292c8;

$smoky: #f0f0f0;
$smoky2: #f7f7f7;
$smoky3: #e0e0e0;

$grey: #999999;
$grey2: #666666;

$green: #00c346;
$red: #ee6c4d;

$disabled-bg: rgba(#000000, .12);
$disabled-color: rgba(#000000, .26);

